@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f3f4f6;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #224e7e;
  text-decoration: inherit;
}
a:hover {
  color: #224e7e;
  border: 1px solid #224e7e;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  color: #224e7e;
}
button:hover {
}

.border-button {
  border: 1px solid #224e7e;
}

.button-text-color {
  color: white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

html, body {
  color: #224e7e;
  background-color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #224e7e;
  }
}
